deb http://http.debian.net/debian/ {{ debian_release }} main
deb-src http://http.debian.net/debian/ {{ debian_release }} main

deb http://security.debian.org/ {{ debian_release }}/updates main
deb-src http://security.debian.org/ {{ debian_release }}/updates main

deb http://http.debian.net/debian/ {{ debian_release }}-updates main
deb-src http://http.debian.net/debian/ {{ debian_release }}-updates main
